
h1{
  /*  make a hover,change to serif/lowercase when hover? */
color:#ea0000;
position: sticky; /*  sticky isnt working */
top: 20px;
letter-spacing: 4px;
text-align: center;
background-color: white;
text-decoration: none;

}

body {
   font-family: 'Josefin Sans', sans-serif;
   text-align: center;
 }

 div { padding: 10px
 }

   /* LINKS */
   a:link { color: #ea0000;
   text-decoration: none;}
   a:visited {color: #ea0000;}
   a:hover { font-family: "canterbury","didot", serif;
   text-transform: uppercase;


    }

#subtitle {
  color: gray;
  font-style: italic;
 font-weight: lighter;
}


/* test example----------------
h1 {
  color: blue;
  background-color: yellow;
  border: 1px solid black;
}
p {
  color: red;
}
