
h1{ /* make kerning crazy wide
make it red
make a hover */
color:#ea0000;
letter-spacing: 4px;
 text-align: center;
}


body {
   font-family: 'Josefin Sans', sans-serif;
   text-align: center;
 }

   a:hover {
       color: white;
       background-color: red;

   }
a:link {color: red;}
