h1{
  color:#ea0000;
  position: sticky;
  top: 20px;
  letter-spacing: 4px;
  text-align: center;
  background-color: white;
  text-decoration: none;
}
div {padding: 10px}

body {
   font-family: 'Josefin Sans', sans-serif;
   text-align: center;
   margin-left: 30px;
 }

.title {
  color:#ea0000;
  position: sticky;
  top: 20px;
  letter-spacing: 4px;
  text-align: center;
  background-color: white;
  text-decoration: none;
  display: inline;
}
.title:hover {
  font-family: "canterbury","didot", serif;}

/* LINKS */
a:link {
  color: #ea0000;
  text-decoration: none;}
a:visited {color: #ea0000;}
a:hover {
    font-family: "didot", serif;
    text-transform: uppercase; }

#subtitle {
  color: gray;
  font-style: italic;
  font-weight: lighter;
  }

#spacing {letter-spacing: 15px;}
  /* to make space wider between first and last name */

#wiggle {
  width: 30%;
  align-items: center;
  right: 10px;
}

/* test example----------------
h1 {
  color: blue;
  background-color: yellow;
  border: 1px solid black;
}
p {
  color: red;
}
