body{
font-size: 27px;
font-family: 'VT323', monospace;
background-color: #e6e6e6;
color: #33333;
margin-left: 10px;
}
#target{
  position:fixed;
  right:35px;
  bottom: 35px;
}
.formy{
  font-size:25px;
  font-family: 'VT323', monospace;
  color: #33333;
  width:160px;
  height:30px;
  position:fixed;
  right:35px;
  bottom: 35px;
}

#info{
  position:relative;
  left: 0%;
}

#tempText:hover{
  color:white;
}
#tempText:hover:after{
  content:"°F temperature";
}

#speedText:hover{
  color:white;
}
#speedText:hover:after{
  content:" mph wind speed";
}
#humText:hover{
  color:white;
}
#humText:hover:after{
  content:"% humidity";
}
#coordsText{
  text-transform: uppercase;
}
#coordsText:hover{
  color:white;
  }
#coordsText:hover:after{
  content:" // (40.73, -73.99)";
}





#pic{
  position: relative;
  top: 100%;
}

#tempCircle{
  position: relative;
  background-color:black;
  width: 35px;
}
#speedCircle{
  position: relative;
  background-color:black;
  width: 35px;
  left: 35px;
}
#humCircle{
  position: relative;
  background-color:black;
  width: 35px;
  left: 70px;
}
